@model StudentViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="add">
    <form action="@(Url.RouteUrl(StudentRoutes.Add))" method="post">
        <div class="title">Добавление студента</div>
        <div id="student">
            <p>Студент</p>
            @Html.LabelFor(m => m.LastName)
            @Html.TextBoxFor(m => m.LastName)
            @Html.ValidationMessageFor(m => m.LastName)

            @Html.LabelFor(m => m.FirstName)
            @Html.TextBoxFor(m => m.FirstName)
            @Html.ValidationMessageFor(m => m.FirstName)

            @Html.LabelFor(m => m.MiddleName)
            @Html.TextBoxFor(m => m.MiddleName)

            @Html.LabelFor(m => m.BirthDate)
            @Html.TextBoxFor(m => m.BirthDate)
            @Html.ValidationMessageFor(m => m.BirthDate)

            @Html.LabelFor(m => m.Gender)
            @Html.DropDownListFor(m => m.Gender, UsersExtension.GetGenders())

            @Html.LabelFor(m => m.LoginName, "Номер зачетки")
            @Html.TextBoxFor(m => m.LoginName)
            @Html.ValidationMessageFor(m => m.LoginName)

            @Html.LabelFor(m => m.Phone)
            @Html.TextBoxFor(m => m.Phone)
            @Html.ValidationMessageFor(m => m.Phone)

            @Html.LabelFor(m => m.Address)
            @Html.TextBoxFor(m => m.Address)
            @Html.ValidationMessageFor(m => m.Address)

            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)

            @Html.LabelFor(m => m.GroupTitle)
            @Html.TextBoxFor(m => m.GroupTitle)

            @Html.LabelFor(m => m.EntryYear)
            @Html.TextBoxFor(m => m.EntryYear)

            @Html.LabelFor(m => m.Characteristic)
            @Html.TextBoxFor(m => m.Characteristic)

            @Html.LabelFor(m => m.StudyStatus)
            @Html.DropDownListFor(m => m.StudyStatus, UsersExtension.GetStudyStatus())

            @Html.LabelFor(m => m.PaymentStatus)
            @Html.DropDownListFor(m => m.PaymentStatus, UsersExtension.GetPayments())
            <button type="submit">Сохранить</button>
        </div>
        <div class="parents">
            <div id="father">
                <p>Отец</p>
                @Html.LabelFor(m => m.Parents[0].User.LastName, "Фамилия")
                @Html.TextBoxFor(m => m.Parents[0].User.LastName)

                @Html.LabelFor(m => m.Parents[0].User.FirstName, "Имя")
                @Html.TextBoxFor(m => m.Parents[0].User.FirstName)

                @Html.LabelFor(m => m.Parents[0].User.MiddleName, "Отчество")
                @Html.TextBoxFor(m => m.Parents[0].User.MiddleName)

                @Html.LabelFor(m => m.Parents[0].User.BirthDate, "Дата рождения")
                @Html.TextBoxFor(m => m.Parents[0].User.BirthDate)

                @Html.LabelFor(m => m.Parents[0].User.Gender, "Пол")
                @Html.DropDownListFor(m => m.Parents[0].User.Gender, UsersExtension.GetGenders())

                @Html.LabelFor(m => m.Parents[0].Job, "Место работы")
                @Html.TextBoxFor(m => m.Parents[0].Job)

                @Html.LabelFor(m => m.Parents[0].User.Phone, "Телефон")
                @Html.TextBoxFor(m => m.Parents[0].User.Phone)

                @Html.LabelFor(m => m.Parents[0].User.Address, "Адрес")
                @Html.TextBoxFor(m => m.Parents[0].User.Address)

                @Html.LabelFor(m => m.Parents[0].User.Email, "Электронная почта")
                @Html.TextBoxFor(m => m.Parents[0].User.Email)
            </div>
            <div id="mother">
                <p>Мать</p>
                @Html.LabelFor(m => m.Parents[1].User.LastName, "Фамилия")
                @Html.TextBoxFor(m => m.Parents[1].User.LastName)

                @Html.LabelFor(m => m.Parents[1].User.FirstName, "Имя")
                @Html.TextBoxFor(m => m.Parents[1].User.FirstName)

                @Html.LabelFor(m => m.Parents[1].User.MiddleName, "Отчество")
                @Html.TextBoxFor(m => m.Parents[1].User.MiddleName)

                @Html.LabelFor(m => m.Parents[1].User.BirthDate, "Дата рождения")
                @Html.TextBoxFor(m => m.Parents[1].User.BirthDate)

                @Html.LabelFor(m => m.Parents[1].User.Gender, "Пол")
                @Html.DropDownListFor(m => m.Parents[1].User.Gender, UsersExtension.GetGenders())

                @Html.LabelFor(m => m.Parents[1].Job, "Место работы")
                @Html.TextBoxFor(m => m.Parents[1].Job)

                @Html.LabelFor(m => m.Parents[1].User.Phone, "Телефон")
                @Html.TextBoxFor(m => m.Parents[1].User.Phone)

                @Html.LabelFor(m => m.Parents[1].User.Address, "Адрес")
                @Html.TextBoxFor(m => m.Parents[1].User.Address)

                @Html.LabelFor(m => m.Parents[1].User.Email, "Электронная почта")
                @Html.TextBoxFor(m => m.Parents[1].User.Email)
            </div>
        </div>
    </form>
</div>
