@model ProfessorViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form action="@(Url.RouteUrl(ProfessorRoutes.Add))" method="post" id="add">
   <div class="title">Добавление преподавателя</div>
        <div id="professor">
            @Html.LabelFor(m => m.LastName)
            @Html.TextBoxFor(m => m.LastName)
            @Html.ValidationMessageFor(m => m.LastName)

            @Html.LabelFor(m => m.FirstName)
            @Html.TextBoxFor(m => m.FirstName)
            @Html.ValidationMessageFor(m => m.FirstName)

            @Html.LabelFor(m => m.MiddleName)
            @Html.TextBoxFor(m => m.MiddleName)

            @Html.LabelFor(m => m.BirthDate)
            @Html.TextBoxFor(m => m.BirthDate)
            @Html.ValidationMessageFor(m => m.BirthDate)

            @Html.LabelFor(m => m.Gender)
            @Html.DropDownListFor(m => m.Gender, UsersExtension.GetGenders())

            @Html.LabelFor(m => m.ChairId)
            @Html.DropDownListFor(m => m.ChairId, UsersExtension.GetChairs())

            @Html.LabelFor(m => m.AcademicDegreeId)
            @Html.DropDownListFor(m => m.AcademicDegreeId, UsersExtension.GetAcademicDegrees())

            @Html.LabelFor(m => m.AcademicTitleId)
            @Html.DropDownListFor(m => m.AcademicTitleId, UsersExtension.GetAcademicTitles())

            @Html.LabelFor(m => m.Phone)
            @Html.TextBoxFor(m => m.Phone)
            @Html.ValidationMessageFor(m => m.Phone)

            @Html.LabelFor(m => m.Address)
            @Html.TextBoxFor(m => m.Address)
            @Html.ValidationMessageFor(m => m.Address)

            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    <button type="submit">Сохранить</button>
</form>