@model ProfessorViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form action="@Url.RouteUrl(ProfessorRoutes.Edit, new { id = Model.Id })" method="post">
    @Html.TextBoxFor(m=>m.LastName)
    @Html.TextBoxFor(m=>m.FirstName)
    @Html.TextBoxFor(m=>m.MiddleName)
    @Html.TextBoxFor(m=>m.BirthDate)
    @Html.TextBoxFor(m=>m.Phone)
    @Html.TextBoxFor(m=>m.Address)
    @Html.TextBoxFor(m=>m.Email)
    <input type="submit" value="Сохранить"/>
</form>