@model RegisterModel
    <form action="@Url.RouteUrl(HomeRoutes.Register)" method="post" id="register-form">
        <p>Регистрация</p>
        @Html.LabelFor(m => m.LastName)
        <br />
        @Html.TextBoxFor(m => m.LastName)
        @Html.ValidationMessageFor(m => m.LastName)
        <br />
        @Html.LabelFor(m => m.FirstName)
        <br />
        @Html.TextBoxFor(m => m.FirstName)
        @Html.ValidationMessageFor(m => m.FirstName)
         <br />
        @Html.LabelFor(m => m.Email)
        <br />
        @Html.TextBoxFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)
        <br />
        @Html.LabelFor(m => m.BirthDate)
        <br />
        @Html.TextBoxFor(m => m.BirthDate)
        @Html.ValidationMessageFor(m => m.BirthDate)
        <br />
        @Html.LabelFor(m => m.LoginName)
        <br />
        @Html.TextBoxFor(m => m.LoginName)
        @Html.ValidationMessageFor(m => m.LoginName)
        <br />
        @Html.LabelFor(m => m.Password)
        <br />
        @Html.TextBoxFor(m => m.Password, new { type = "password" })
        @Html.ValidationMessageFor(m => m.Password)
        <br />
        @Html.LabelFor(m => m.ConfirmPassword)
        <br />
        @Html.TextBoxFor(m => m.ConfirmPassword, new { type = "password" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
        <br />
        <br />
        <button id="register-submit" type="submit">Регистрация</button>
        <button class="b-modal_close arcticmodal-close">Отмена</button>
    </form>
