@model HeaderModel

@if(Model.User.IsAnounymous)
{
<form action="@Url.RouteUrl(HomeRoutes.Login)" method="post">
    <label for="login">Логин</label>
    <input id="login" type="text" name="LoginName"/>
    <label for="pass">Пароль</label>
    <input id="pass" type="password" name="Password"/>
    <br />
    <span>Запомнить меня</span>
    <input id="rem" type="checkbox" name="RememberMe" />
    <br />
    <button type="submit">Войти</button>
    @if(ViewBag.Failed == 1)
    {
        <p>@ViewBag.Message</p>
    }
    <a href="@Url.RouteUrl(HomeRoutes.Register)">Регистрация</a>
</form>
}
else
{
<a href="@Url.RouteUrl(UserRoutes.Edit, new { id = Model.User.Id })">Настройки аккаунта</a>
<a href="@Url.RouteUrl(HomeRoutes.Logout)">Выйти</a>
}
 