<div class="sidebar-menu">
    <ul>
        <li><a href="@Url.RouteUrl(StudentRoutes.Add)">Добавить студента</a></li>
        <li><a href="@Url.RouteUrl(ProfessorRoutes.Add)">Добавить преподавателя</a></li>
        <li><a href="@Url.RouteUrl(SyllabusRoutes.Add)">Добавить учебный план</a></li>
        <li><a href="@Url.RouteUrl(UserRoutes.Add)">Добавить юзера</a></li>
        <li><a href="@Url.RouteUrl(SubjectRoutes.Add)">Добавить дисциплину</a></li>
    </ul>
</div>
