<div style="position:fixed;top: 200px;">
    <div><a href="@Url.RouteUrl(StudentRoutes.Add)">Добавить студента</a></div>
    <div><a href="@Url.RouteUrl(ProfessorRoutes.Add)">Добавить преподавателя</a></div>
    <div><a href="@Url.RouteUrl(SyllabusRoutes.Add)">Добавить учебный план</a></div>
    <div><a href="@Url.RouteUrl(UserRoutes.Add)">Добавить юзера</a></div>
    <div><a href="@Url.RouteUrl(SubjectRoutes.Add)">Добавить дисциплину</a></div>
</div>