<!DOCTYPE html>
<html lang="ru">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>МГЭУ им. Сахарова</title>
        <link href="~/favicon.jpg" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Resources/Styles/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        @{if (Core.CurrentUser.IsAdmin || Core.CurrentUser.IsDecanat)
          {Html.RenderPartial("~/Views/partial/sidebar.cshtml");}
          Html.RenderAction("Header", "Home");}
        <div id="body">
            <section class="main-container wrapper clearfix">
                @RenderBody()
            </section>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/main")
        @RenderSection("scripts", required: false)
    </body>
</html>
